/* Please override here. */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
}

A:link {
	 COLOR: #0000FF  /*The color of the link*/
}

A:visited {
	 COLOR: #800080 /*The color of the visited link*/
}

A:hover {
	 COLOR: green /*The color of the mouseover or 'hover' link*/
}

pre code {
  display: block;
  padding: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
