/* Generics */
@font-face {
    font-family: "Cantarell";
    src: url("/fonts/Cantarell-Regular-webfont.woff") format('woff');
}

body {
    font-family: 'Cantarell', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #EEEEEE;
}

/* Sidebar */
.navbar-default,
.well {
    background: #FFFFFF;
}

/* Footer */
footer {
    text-align: center;
}

p {
    font-size: 16px;
}

.well {
  min-height: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

